html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.lap-log {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  overflow-y: auto;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}

.timer {
  height: 400px;
  border: 1px solid black;
  padding: 1rem;
  background-color: rgb(250, 250, 250);
}

.timer.add-timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-clock {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  background-color: white;
}

.lap-scroll-container {
  height: 200px;
  overflow-y: hidden;
  margin-top: 1rem;
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
}

.lap-scroll-container > div {
  height: 200px;
  overflow-y: auto;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  margin-top: 1rem;
}

.close-timer-button,
.button-group button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: black;
  color: white;
  cursor: pointer;
}

.timer.add-timer button {
  border: 1px solid black;
  background-color: black;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}

.close-timer-button {
  width: 100%;
  margin-top: 0.5rem;
}

.close-timer-button:hover,
.timer.add-timer button:hover,
.button-group button:hover {
  opacity: 0.8;
}
